:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --font-size: 14px;
  --letter-spacing: 0.03em;
  --primary-text-colour: #757575;
  --title-text-colour: #ffffff;
  --secondary-title-text-colour: #212121;
  --primary-bg-colour: #ffffff;
  --secondary-bg-colour: #2f303a;
  --third-bg-colour: #188ce8;
  --accent-colour: #2196f3;
  --fourth-bg-colour: #f5f4fa;
  --footer-colour: rgba(255, 255, 255, 0.6);
  --our-team-color: #f5f4fa;
  --footer-1: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-bg-colour);
  color: var(--primary-text-colour);
  font-family: var(--main-font);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__theme--light {
  color: var(--secondary-title-text-colour);
  font-weight: bold;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__accent {
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-colour);
}
.logo__theme--dark {
  color: var(--primary-bg-colour);
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-title-text-colour);
  margin-bottom: 50px;
}

.header--border {
  border-bottom: 1px solid #ececec;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-bg-colour);
  background-color: var(--accent-colour);
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.button--active:hover, .button--active:focus {
  background-color: var(--third-bg-colour);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-text-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  color: var(--accent-colour);
}
.navigation__link--curent {
  color: var(--accent-colour);
}
.navigation__link.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentcolor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__link.contact:hover .navigation_icon, .navigation__link.contact:focus .navigation_icon {
  fill: var(--accent-colour);
}
.navigation__link--current::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-colour);
}
.navigation__icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.navigation__icon.mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.navigation__icon.phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.navigation__item {
  position: relative;
}

.service {
  background-color: var(--secondary-bg-colour);
  text-align: center;
}
.service--overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/bgc.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bgc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.service .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.service__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-colour);
  margin-bottom: 30px;
}
.service__button {
  display: inline-block;
}

.advantages {
  padding-top: 94px;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.advantages__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.advantages__item:last-child {
  margin-right: 0;
}
.advantages__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-text-colour);
  margin-bottom: 10px;
}
.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: var(--our-team-color);
  margin-bottom: 30px;
}
.advantages__svg {
  width: 70px;
  height: 70px;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work__item :last-child {
  margin-right: 0;
}

.thumb {
  position: relative;
}

.product {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.product__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-colour);
}

.team {
  background-color: var(--our-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background: var(--primary-bg-colour);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-right: 0;
}

.content {
  padding: 30px 35px;
  text-align: center;
}
.content__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-text-colour);
  margin-bottom: 10px;
}
.content__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}
.social-networks__item {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
}
.social-networks__item:last-child {
  margin-right: 0;
}
.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-networks__link:hover, .social-networks__link:focus {
  fill: var(--primary-bg-colour);
  background-color: var(--accent-colour);
}
.social-networks__icon {
  width: 20px;
  height: 20px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients__item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-colour);
  border-color: var(--accent-colour);
}

.footer {
  background-color: var(--secondary-bg-colour);
}
.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}
.address__link {
  font-family: var(--main-font);
  font: weight 400px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-colour);
}

.footer-social {
  margin-left: 70px;
}
.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-colour);
  margin-bottom: 20px;
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--primary-bg-colour);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-social__item {
  margin-right: 10px;
}
.footer-social__item:last-child {
  margin-right: 0px;
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--primary-bg-colour);
  background-color: var(--footer-1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-colour);
}
.footer-social__icon {
  fill: var(--background-color);
  width: 20px;
  height: 20px;
}

.subscription {
  display: block;
  margin-left: 93px;
}
.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-colour);
}
.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.subscription__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--secondary-bg-colour);
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__button {
  padding: 10px 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 250ms var(--timing-function), pointer-events 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), pointer-events 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-colour);
  border-radius: 4px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}

.modal-button__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: #000;
  stroke: rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.modal-button--close:hover .modal-button__icon,
.modal-button--close:focus .modal-button__icon {
  fill: var(--accent-colour);
  outline: 1px solid var(--accent-colour);
}

.message {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-title-text-colour);
}

.form-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.form-wrapper__ladel {
  display: block;
}
.form-wrapper__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: #000;
}
.form-wrapper__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-wrapper__input:focus {
  border-color: var(--accent-colour);
}
.form-wrapper__input:focus + .form-wrapper__icon {
  fill: var(--accent-colour);
}
.form-wrapper__text {
  display: block;
  margin-bottom: 4px;
}
.form-wrapper__message {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 130px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-wrapper__message:focus {
  border-color: var(--accent-colour);
}
.form-wrapper__message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-wrapper__message::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-wrapper__message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-wrapper__message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-wrapper__message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-wrapper.textarea {
  margin-bottom: 20px;
}

.modal-form__check-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__icon {
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-title-text-colour);
  border-radius: 2px;
}

.modal-form__checkbox:checked + .modal-form__icon {
  border-color: var(--accent-colour);
  background-color: var(--accent-colour);
  background-image: url(../../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__link {
  margin-left: 5px;
  color: var(--accent-colour);
}

.modal-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */