:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --font-size: 14px;
  --letter-spacing: 0.03em;
  --primary-text-colour: #757575;
  --title-text-colour: #ffffff;
  --secondary-title-text-colour: #212121;
  --primary-bg-colour: #ffffff;
  --secondary-bg-colour: #2f303a;
  --third-bg-colour: #188ce8;
  --accent-colour: #2196f3;
  --fourth-bg-colour: #f5f4fa;
  --footer-colour: rgba(255, 255, 255, 0.6);
  --our-team-color: #f5f4fa;
  --footer-1: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-bg-colour);
  color: var(--primary-text-colour);
  font-family: var(--main-font);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-bg-colour);
  background-color: var(--accent-colour);
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.button--active:hover, .button--active:focus {
  background-color: var(--third-bg-colour);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__theme--light {
  color: var(--secondary-title-text-colour);
  font-weight: bold;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__accent {
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-colour);
}
.logo__theme--dark {
  color: var(--primary-bg-colour);
  margin-bottom: 20px;
}

.header--border {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-text-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus, .navigation__link:active {
  color: var(--accent-colour);
}
.navigation__link--curent {
  color: var(--accent-colour);
}
.navigation__link.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentcolor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__link.contact:hover .navigation_icon, .navigation__link.contact:focus .navigation_icon {
  fill: var(--accent-colour);
}
.navigation__link--current::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-colour);
}
.navigation__icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.navigation__icon.mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.navigation__icon.phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.navigation__item {
  position: relative;
}

.jobs-group__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.jobs-group__button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.jobs-group__button--active {
  background-color: var(--accent-colour);
  color: var(--title-text-colour);
}
.jobs-group__button:hover, .jobs-group__button:focus {
  color: var(--title-text-colour);
  background-color: var(--accent-colour);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.jobs-group__item {
  margin-right: 8px;
}
.jobs-group__item:last-child {
  margin-right: 0;
}

.jobs {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.gallery__item {
  margin: 15px;
  width: 370px;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.gallery__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-photo {
  padding: 20px 24px;
  background: var(--primary-bg-colour);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-photo__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-text-colour);
  margin-bottom: 4px;
}
.portfolio-photo__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-colour);
}

.gallery__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-bg-colour);
}

.gallery__photo {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.gallery__link:hover .gallery__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footer {
  background-color: var(--secondary-bg-colour);
}
.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}
.address__link {
  font-family: var(--main-font);
  font: weight 400px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-colour);
}

.footer-social {
  margin-left: 70px;
}
.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-colour);
  margin-bottom: 20px;
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--primary-bg-colour);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-social__item {
  margin-right: 10px;
}
.footer-social__item:last-child {
  margin-right: 0px;
}
.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--primary-bg-colour);
  background-color: var(--footer-1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-colour);
}
.footer-social__icon {
  fill: var(--background-color);
  width: 20px;
  height: 20px;
}

.subscription {
  display: block;
  margin-left: 93px;
}
.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-colour);
}
.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.subscription__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--secondary-bg-colour);
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__button {
  padding: 10px 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=portfolio.css.map */