:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-title-color: #ffffff;
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color-focus: #188ce8;
  --card-set-gap: 30px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.page-list,
.advantages-list,
.work-list,
.teams-list,
.footer-list,
.jobs-list,
.icon-list,
.clients-list,
.footer-list-icon {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.page {
  outline: 1px solid #ececec;
  background-color: var(--background-color);
}

.page-header {
  display: flex;
}

.logo {
  color: var(--title-text-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}

/* site-nav */
.page-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .item + .item {
  margin-left: 50px;
}

.link.current {
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav a {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.link.head {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  fill: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.head:hover,
.link.head:focus {
  color: var(--accent-color);
}

.icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

/* main */
/* service */

.service {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  background-color: var(--third-background-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgc.jpg);
}

.service-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.service-button {
  margin: 0 auto;

  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-button:hover,
.service-button:focus {
  background-color: var(--accent-color-focus);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* section advantages*/

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.advantages-list .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

/* section work */

.section.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.work-list .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-work {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;

  margin: 0;
  padding: 27px 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

/* section teams */

.section.teams {
  background-color: var(--secondary-background-color);
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.teams-list .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  text-align: center;
}

.card {
  background-color: var(--secondary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 30px 0;
}

.teams-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.teams-description {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-item + .icon-item {
  margin-left: 10px;
}

.icon-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-item a:hover,
.icon-item a:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.icon-teams {
  width: 20px;
  height: 20px;
}

/* section clients */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-clients + .item-clients {
  margin-left: 30px;
}

.item-clients a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-clients a:hover,
.item-clients a:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* footer */
.footer-wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 0;
}

.footer {
  padding: 60px 0;
  background-color: var(--third-background-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;

  color: var(--secondary-title-color);
}

.address {
  color: var(--footer-text-color);

  font-style: normal;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus {
  color: var(--accent-color);
}

.address.maps {
  color: var(--secondary-title-color);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.description-footer {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.footer-list-icon {
  display: flex;
  flex-wrap: wrap;
}

.footer-item + .footer-item {
  margin-left: 10px;
}

.footer-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
  fill: var(--background-color);
  width: 20px;
  height: 20px;
}

.footer-item a:hover,
.footer-item a:focus {
  background-color: var(--accent-color);
}

.form-footer {
  display: flex;
}

.form-input-mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--third-background-color);
  color: var(--secondary-title-color);
}

.form-footer-label:focus-within > .form-input-mail {
  border-color: var(--accent-color);
}

.form-input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  cursor: pointer;
}

.icon-footer-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* portfolio */

/* main Работы */

.list-button:hover,
.list-button:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.jobs-list.button {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button .item + .item {
  margin-left: 8px;
}

.list-button.active {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
}

.jobs-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.jobs-description {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.jobs-card {
  border: 1px solid rgba(238, 238, 238, 1);
}

.card-img {
  position: relative;
  overflow: hidden;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.jobs-card:hover .card-text,
.jobs-card:focus .card-text {
  opacity: 1;
  transform: translateY(0);
}

.card-link {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card-link .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.img-content {
  padding: 20px 24px;
}

.jobs-card a {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.jobs-card a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* modal */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color);

  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}

.svg-modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: #000;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:focus .svg-modal {
  fill: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.svg-modal:hover {
  fill: var(--accent-color);
}

.modal-description {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.modal-group {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-label {
  display: block;
}

.modal-group.textarea {
  margin-bottom: 20px;
}

.modal-form-label:focus-within > .modal-form-svg {
  fill: var(--accent-color);
}
.modal-form-label:focus-within > .modal-form-input {
  border-color: var(--accent-color);
}

.modal-form-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: #000;
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-label:focus-within > .modal-form-input {
  border-color: #2196f3;
}

.label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-form-textarea {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 130px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-textarea:focus {
  border-color: var(--accent-color);
}

.modal-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.link-form {
  margin-left: 5px;
  color: var(--accent-color);
}

.button-form {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form:hover,
.button-form:focus {
  background-color: var(--accent-color-focus);
}
