:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --font-size: 14px;
    --letter-spacing: 0.03em;
    --primary-text-colour: #757575;
    --title-text-colour: #ffffff;
    --secondary-title-text-colour: #212121;
    --primary-bg-colour: #ffffff;
    --secondary-bg-colour: #2f303a;
    --third-bg-colour: #188ce8;
    --accent-colour: #2196f3;
    --fourth-bg-colour: #f5f4fa;
    --footer-colour: rgba(255, 255, 255, 0.6);
    --our-team-color: #f5f4fa;
    --footer-1: rgba(255, 255, 255, 0.1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}