$primaryTextColor: #757575;
$titleTextColor: #212121;
$secondaryTitleColor: #ffffff;
$primarybgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$thirdBgColor: #2f303a;
$accentColor: #2196f3;
$footerTextColor: rgba(255, 255, 255, 0.6);
$accentColorFocus: #188ce8;
$cardSetGap: 30px;

$fontSize: 14px;
$fontFamily: 'Roboto',sans-serif;
$letterSpacing: 0.03em;